body{
    background: linear-gradient(white, gray);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#div{
    margin-top: 14.5rem;
    margin-left: 33rem;
}
.dds{
    border: solid 2px;
    background-color: rgb(100, 100, 77);
}
.fds{
    border: solid 2px;
    background-color: rgb(100, 100, 77);
}
.ddsl{
    border: solid 2px;
    background-color: green;
}
.fdsl{
    border: solid 2px;
    background-color: red;
}
.nd{
    list-style: none;
    margin: 0px;
    padding: 0px 0px 0px 10px;
}